.services {
      height: auto;
      width: 100%;
      padding: 5rem;

      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
}

.services-container {
      height: auto;
      width: 100%;
      padding: 3rem 0rem;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 5rem;
}

.service-card {
      height: auto;
      padding: 0rem;

      background: #fff;
      color: rgb(0, 0, 0);
      text-align: justify;
}

.service-card * {
      margin: 1rem 0;
}

.service-card__header  {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.service-card__title {
      font-size: 25px;
      font-weight: 400;
}

.service-card__description {
      font-size: 20px;
      font-weight: 300;
}

.service-card__link {
      font-size: 20px;
      color: #000;
      text-decoration: none;
}

.service-card__link:hover {
      text-decoration: underline;
}

.service-card__link * {
      display: inline;
}

.service-card__link i {
      margin-left: 10px;
}


.icon {
      font-size: 20px;

      color: var(--dark-aquamarine);
}


@media screen and (max-width: 1024px) {
      .services {
            padding: 5rem 1rem;
      }

      .services-container {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            gap: 3rem;
      }
}