.projects {
      height: auto;
      padding: 5rem 0;
      
      background: #fff;
      color: #000;

      /* display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between; */
}

.projects .container {
      height: inherit;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
}

.projects-container {
      height: auto;
      width: 100%;
      padding: 3rem 0rem;
      
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 2rem;
}

.card {
      height: auto;

      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card__image {
      height: 500px;
      width: 100%;
      object-fit: cover;
}

.card__body {
      padding: 1.5rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
}

.card__body * {
      margin: 5px 0;
}

.card__title {
      margin: 0;

      font-size: 25px;
      font-weight: 700;
}

.card__description {
      font-size: 20px;
}

.card__type {
      padding: 5px;
      display: inline-block;

      background: rgb(0, 0, 0);
      background: var(--dark-aquamarine);
      color: #fff;
      font-size: 20px;
}

.card__link {
      color: rgb(0, 0, 0);
      font-size: 20px;
      text-decoration: none;
}

.card__link:hover {
      text-decoration: underline;
}

.card__link * {
      display: inline;
}

.card__link i {
      margin-left: 10px;
}



@media screen and (max-width: 1024px) {
      .projects {
            padding: 5rem 1rem;
      }

      .projects-container {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            gap: 3rem;
      }
}