:root {
    /* COLORS */
    --dark-gray: rgb(34, 34, 34);

    --light-pink: rgb(255, 248, 252);
    --pink: rgb(139, 127, 133);
    --dark-pink: rgb(109, 92, 101);

    --light-aquamarine: rgb(211, 226, 226);
    --aquamarine: rgb(168, 193, 193);
    --dark-aquamarine: rgb(136, 163, 163);

    /* FONTS */
    --primary-font: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection {
    background: var(--light-aquamarine);
}

body {
    font-family: var(--primary-font);

}

.title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.subtitle {
    font-size: 50px;
    font-weight: 400;
}

.paragraph {
    font-size: 18px;
    
    text-align: justify;
}
