:root {
    /* COLORS */
    --dark-gray: rgb(34, 34, 34);

    /* FONTS */
    --primary-font: 'Arimo', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
}